.wp-block-categories-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    ul.children {
        padding-inline-start: var(--wp--preset--spacing--normal);

        > li {
            padding: var(--wp--preset--spacing--x-small) 0;

            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    li {
        list-style-type: none;
    }

    > li {
        border-bottom: 1px solid #f5f7fa;
        padding: var(--wp--preset--spacing--small) 0;

        &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
        }
    }
}
