<!-- wp:template-part {"slug":"header","theme":"devkit-block-theme","className":"site-header"} /-->

<!-- wp:group {"tagName":"section","className":"site-content is-style-container","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"blockGap":"0"}},"backgroundColor":"gray-50","layout":{"type":"constrained"}} -->
<section id="content" class="wp-block-group site-content is-style-container has-gray-50-background-color has-background"
	style="margin-top:0;margin-bottom:0"><!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
	<main id="main" class="wp-block-group">
		<!-- wp:group {"tagName":"article","className":"entry is-style-container","layout":{"type":"default"}} -->
		<article class="wp-block-group entry is-style-container">
			<!-- wp:heading {"textAlign":"center","level":1,"style":{"typography":{"fontSize":"7.5rem"}}} -->
			<h1 class="wp-block-heading has-text-align-center" style="font-size:7.5rem">404</h1>
			<!-- /wp:heading -->

			<!-- wp:paragraph {"align":"center","fontSize":"heading-4"} -->
			<p class="has-text-align-center has-heading-4-font-size">Uh Oh. That page doesn't seem to exist.</p>
			<!-- /wp:paragraph -->

			<!-- wp:paragraph {"align":"center","fontSize":"xlarge"} -->
			<p class="has-text-align-center has-xlarge-font-size">Head to our <a href="#">homepage</a> that does exist,
				use the search feature below, or head to our <a href="#">blog</a> and check out some of our other
				content.</p>
			<!-- /wp:paragraph -->

			<!-- wp:search {"label":"","placeholder":"Search","width":600,"widthUnit":"px","buttonText":"Search","align":"center"} /-->
		</article>
		<!-- /wp:group -->
	</main>
	<!-- /wp:group -->
</section>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"devkit-block-theme","tagName":"footer","area":"footer"} /-->