<!-- wp:template-part {"slug":"header","theme":"devkit-block-theme","className":"site-header"} /-->

<!-- wp:group {"tagName":"section","className":"site-content is-style-container","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"blockGap":"0"}},"backgroundColor":"gray-50","layout":{"type":"constrained"}} -->
<section id="content" class="wp-block-group site-content is-style-container has-gray-50-background-color has-background"
    style="margin-top:0;margin-bottom:0"><!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
    <main id="main" class="wp-block-group">

        <!-- wp:pattern {"slug":"theme/template-loop-page"} /-->

    </main>
    <!-- /wp:group -->
</section>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"devkit-block-theme","tagName":"footer","area":"footer"} /-->