<!-- wp:template-part {"slug":"header","theme":"mwfblocktheme","className":"site-header"} /-->

<!-- wp:group {"tagName":"section","className":"site-content","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"blockGap":"0","padding":{"right":"var:preset|spacing|large","left":"var:preset|spacing|large","top":"var:preset|spacing|large","bottom":"var:preset|spacing|large"}}},"backgroundColor":"200","layout":{"type":"constrained"}} -->
<section id="content" class="wp-block-group site-content has-200-background-color has-background"
    style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--large);padding-right:var(--wp--preset--spacing--large);padding-bottom:var(--wp--preset--spacing--large);padding-left:var(--wp--preset--spacing--large)">
    <!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
    <main id="main" class="wp-block-group">

         <!-- wp:pattern {"slug":"theme/template-loop-page"} /-->

    </main>
    <!-- /wp:group -->
</section>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"mwfblocktheme","tagName":"footer","area":"footer"} /-->